<div class="container py-5">
    <div class="row">
        <div class="col-md-6 offset-sm-4">
            <app-accordian [title]="'angular'">
                <p>
                    Angular 19 is released last Month
                </p>
            </app-accordian>

            <app-accordian [title]="'Esnext'">
                <p>
                    javaScript 2021 var is called as Esnext
                </p>
            </app-accordian>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-auth-form>
                <h3>Create Account</h3>
                <button class="btn btn-primary" type="submit">
                 Create Account
                </button>
            </app-auth-form>
        </div>
        <div class="col-md-6">
            <app-auth-form>
                <h3>Sign In</h3>
                <button class="btn btn-primary" type="submit">
                    sign in
                </button>
            </app-auth-form>
        </div>
    </div>
</div>